<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>002--RSA代码.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0717D60D1E549D8400D925E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0717D6261E549D8400D925E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0717D6311E549D8400D925E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
